#                          DECISION TREE



* it is one of the most algorithm
* it is a supervised learning technique
* it can be used for both classification and regression
* it is a tree structure classifier



# *


* it has if_else rules based conditions of given data
* internal nodes represent the features of dataset
* branches represents the decision rules
* leaf node represent the outcome
* basically we have 2 nodes in decision tree:
* 1.decision node : it is used to make decisions 
* 2. leaf node : it is an output node it doesnot contain any further branches
* both nodes are used to make any decisions
* INORDER TO BUILT THE DECISION TREE ALGORITHM WE USE CART : it stands for cassification and regression tree algorithm

#   why we use the decision tree algorithm

* decision tree is AI application
* mimic of human thinking ability while aking a decision tree like structure

#        TERMINOLOGIES


# 1.root node: 
* it is a parent or child node
* it is where the decision tree starts it represents the entire data which further gets divided into 2 or more homogeneous datasets.
# 2. LEAF NODE:
* final output node
* and tree can,t be seggregated further after getting leaf nodes
# 3.splitting:
* it is the process of dividing the  decision node  or root node into sub nodes according to the given condition 

# 4. branch or subtree:
* a tree formed by splitting the tree is called subtree
* the root node of the tree called parent node
* other nodes called leaf node
# 5.pruning:
* it is the process of removing the unwanted branches from the tree

# how does the decision tree algorithm works


# step 1:
* algorithm always starts from root node

# step 2 :
* begin the tree with root node (S) contains complete dataset

# step 3 :
* find the best attribute in the dataset using asm : attribute measureemnt selection

# step 4:
* divides the (S) into subsets that contains possible values for best attribute 
# step 5:
* generate the decision tree nodes which contains the best attribute 


# step 6:


* recursively make a new decision tree using the subset 3 
* continue this step until the a stage is raeched where u cant classified the nodes
* its called final node as leaf node

#           ASM : attribute selection measurement


* with the help of asm we can easiy select attributes
* asm is divided into 2 types:

# 1. information gain
# 2.gini index

# how to choose the asm of given data


* it is the measurement of changes in entropy after the segmentation of the dataset based on attributes
* how much amount of information does each variable contributing to the model



# i.g= entropy at the root node - sum of weighted entropy at each child node 


# entropy: it measures the impurity of   a dataset  
* its range is 0 to 1 
* if entropy is close to 0 its a pure node
* if entropy is close to 1 the its a impure node

# gini index: its a measure of purity or impurity used whole craeting a decsion tree in the CART

* an attribute with low gini index shold be returned as compared with the high gini index

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
import os
import math
import glob

In [2]:
x=pd.read_excel(r"E:\ds course\projects\case_study_1\Telco_Bill_data_v1.xlsx")

In [3]:
x.head(2)

,CIRCLE,HIERARCHY_ID,PARENT_ID,ACCOUNT_NO,SUBSCR_NO,DEL_NO,SERVICE_ACTIVE_DT,INVOICE_NO,BILL_SEQUENCE_NUM,MONTH_YY,...,ADJ_AMOUNT,ACT_ACTIVE_DT,PACKAGE_ID,PRICE_PLAN,BILL_ZIP,CUSTOMER_SEGMENT,STATUS,OTHERS,OTHERS_UNITS,REV_RCV_COST_CENTER
0,Karnataka,206190410,NaN,206190410,14218954,9243148228,2006-06-22,1225097295,71,APR_12,...,0.0,2006-06-22,54518.0,CMo - Millennium Edition 1,560095,S,ACTIVE,0.0,0,BANGALORE
1,Karnataka,206197211,NaN,206197211,14232708,9243264060,2006-06-24,1207231515,70,APR_12,...,0.0,2006-06-23,617691.0,0610/BOTH/CM/TRF/NU/PO/CMO PPS 99-0610 Plan,580029,S,ACTIVE,0.0,0,HUBLI

In [4]:
x.shape

(31160, 35)

In [5]:
x.columns

Index(['CIRCLE', 'HIERARCHY_ID', 'PARENT_ID', 'ACCOUNT_NO', 'SUBSCR_NO',
       'DEL_NO', 'SERVICE_ACTIVE_DT', 'INVOICE_NO', 'BILL_SEQUENCE_NUM',
       'MONTH_YY', 'BILL_PERIOD', 'BILL_COMPANY', 'ACCOUNT_CATEGORY',
       'MKT_SEGMENT', 'PRODUCT', 'DATA_USAGE', 'DATA_USAGE_UNITS',
       'NRC_AMOUNT', 'RC_AMOUNT', 'TAX_AMOUNT', 'NEW_CHRGS', 'CURRENT_CHRGS',
       'HANDSET_AMOUNT', 'UNITCREDIT_AMOUNT', 'DISCOUNT', 'ADJ_AMOUNT',
       'ACT_ACTIVE_DT', 'PACKAGE_ID', 'PRICE_PLAN', 'BILL_ZIP',
       'CUSTOMER_SEGMENT', 'STATUS', 'OTHERS', 'OTHERS_UNITS',
       'REV_RCV_COST_CENTER'],
      dtype='object')

In [6]:
x.iloc[:,4]

0        14218954
1        14232708
2        30193905
3        29632374
4        12402673
           ...
31155    39342213
31156    39258538
31157    39239175
31158    39221104
31159    39186066
Name: SUBSCR_NO, Length: 31160, dtype: int64

In [7]:
x.iloc[:,[2,5]]

         PARENT_ID      DEL_NO
0              NaN  9243148228
1              NaN  9243264060
2              NaN  8951061271
3              NaN  8951033996
4      976991804.0  9241079722
...            ...         ...
31155          NaN  7411098935
31156          NaN  8123023475
31157          NaN  9035025032
31158          NaN  8050068409
31159          NaN  8123093503

[31160 rows x 2 columns]

In [9]:
y=x.select_dtypes(include=[np.number])

In [10]:
y.head(2)

,HIERARCHY_ID,PARENT_ID,ACCOUNT_NO,SUBSCR_NO,DEL_NO,INVOICE_NO,BILL_SEQUENCE_NUM,DATA_USAGE,DATA_USAGE_UNITS,NRC_AMOUNT,...,NEW_CHRGS,CURRENT_CHRGS,HANDSET_AMOUNT,UNITCREDIT_AMOUNT,DISCOUNT,ADJ_AMOUNT,PACKAGE_ID,BILL_ZIP,OTHERS,OTHERS_UNITS
0,206190410,NaN,206190410,14218954,9243148228,1225097295,71,0.0,0,0,...,561.80,561.80,0,0.0,-250.0,0.0,54518.0,560095,0.0,0
1,206197211,NaN,206197211,14232708,9243264060,1207231515,70,0.0,0,0,...,224.35,224.35,0,0.0,-80.0,0.0,617691.0,580029,0.0,0

In [11]:
y.shape

(31160, 22)

In [13]:
a=y.iloc[:,[2,3]]

In [14]:
a.head(2)

   ACCOUNT_NO  SUBSCR_NO
0   206190410   14218954
1   206197211   14232708

In [16]:
b=y.iloc[:,4]

In [17]:
b.head(2)

0    9243148228
1    9243264060
Name: DEL_NO, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
a_train,a_test,b_train,b_test=train_test_split(a,b,test_size=0.2,random_state=0)

In [20]:
len(a_train)

24928

In [22]:
len(a_test)

6232

In [24]:
# feature scaling

from sklearn.preprocessing import StandardScaler

In [27]:
ss=StandardScaler()
a_train=ss.fit_transform(a_train)
a_test=ss.fit_transform(a_test)

In [28]:
a_train

array([[ 0.51226453,  0.82441268],
       [ 0.52373672,  1.2800248 ],
       [ 0.51201078,  0.75472668],
       ...,
       [ 0.51239032,  0.85858775],
       [ 0.50011595, -0.48759245],
       [-1.96728961, -1.86636732]])

In [29]:
a_test

array([[-2.03251831, -0.6383935 ],
       [ 0.49505652,  0.79291716],
       [ 0.49228182,  0.37848748],
       ...,
       [ 0.49501052,  0.78292695],
       [-2.03252084, -0.64076257],
       [ 0.47491738, -0.90716169]])

In [30]:
len(a_train)

24928

In [31]:
len(a_test)

6232

In [32]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
classifier=DecisionTreeClassifier()
classifier.fit(a_train,b_train)
classifier.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'presort': 'deprecated',
 'random_state': None,
 'splitter': 'best'}